<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geng.puredb.dao.StatAfMapper" >
  <resultMap id="BaseResultMap" type="com.geng.puredb.model.StatAf" >
    <id column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="afuid" property="afuid" jdbcType="VARCHAR" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="campain" property="campain" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.geng.puredb.model.StatAf" extends="BaseResultMap" >
    <result column="fulldata" property="fulldata" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    uid, afuid, channel, campain
  </sql>
  <sql id="Blob_Column_List" >
    fulldata
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from stat_af
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.geng.puredb.model.StatAf" >
    insert into stat_af (uid, afuid, channel, 
      campain, fulldata)
    values (#{uid,jdbcType=VARCHAR}, #{afuid,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, 
      #{campain,jdbcType=VARCHAR}, #{fulldata,jdbcType=LONGVARBINARY})
    on duplicate key update afuid = afuid
  </insert>
</mapper>
