<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geng.puredb.dao.UserItemMapper">
    <resultMap id="UserItemMap" type="com.geng.puredb.model.UserItem">
        <id column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="ownerId" property="ownerId" jdbcType="VARCHAR"/>
        <result column="itemId" property="itemId" jdbcType="VARCHAR"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="value" property="value" jdbcType="INTEGER"/>
        <result column="vanishTime" property="vanishTime" jdbcType="BIGINT"/>
    </resultMap>

    <select id="select" resultMap="UserItemMap" parameterType="java.lang.String">
        select
        *
        from user_item
        where ownerId = #{ownerId, jdbcType=VARCHAR}
    </select>

    <select id="selectItemById" resultMap="UserItemMap">
        select
        *
        from user_item
        where ownerId = #{ownerId, jdbcType=VARCHAR}
        and itemId = #{itemId, jdbcType=VARCHAR}
        and value = #{value, jdbcType=INTEGER}
    </select>

    <select id="selectItemByUUID" resultMap="UserItemMap" parameterType="java.lang.String">
        select
        *
        from user_item
        where uuid = #{uuid, jdbcType=VARCHAR}
    </select>

    <select id="selectItemListByUUIDs" resultMap="UserItemMap">
        select * from user_item where uuid in
        <foreach collection="array" index="index" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>

    <select id="selectItemListByItemIds" resultMap="UserItemMap">
        select * from user_item where ownerId = #{ownerId, jdbcType=VARCHAR} and itemId  in
        <foreach collection="itemIdList" index="index" item="item" open="(" close=")" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>

    <delete id="delete" parameterType="java.lang.String">
        delete from user_item
        where uuid = #{uuid, jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.geng.puredb.model.UserItem">
        insert into user_item (uuid, ownerId, itemId, count, value, vanishTime)
        values
        (
        #{uuid,jdbcType=VARCHAR}, #{ownerId,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR},
        #{count,jdbcType=INTEGER}, #{value,jdbcType=INTEGER}, #{vanishTime,jdbcType=BIGINT}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into user_item (uuid, ownerId, itemId, count, value, vanishTime)
        values
        <foreach collection="list" index="index" item="item" separator=",">
            (
            #{item.uuid,jdbcType=VARCHAR}, #{item.ownerId,jdbcType=VARCHAR}, #{item.itemId,jdbcType=VARCHAR},
            #{item.count,jdbcType=INTEGER}, #{item.value,jdbcType=INTEGER}, #{item.vanishTime,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.geng.puredb.model.UserItem">
        update
        user_item
        set
        count = #{count,jdbcType=INTEGER},
        value = #{value,jdbcType=INTEGER},
        vanishTime = #{vanishTime,jdbcType=BIGINT}
        where uuid = #{uuid,jdbcType=VARCHAR}
    </update>

    <delete id="deleteByOwnerIdAndItemId">
        delete from user_item WHERE  ownerId = #{ownerId, jdbcType=VARCHAR} and itemId in
        <foreach item="item" index="index" collection="itemIdList" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </delete>
</mapper>