<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geng.puredb.dao.UserProfileMapper">
  <resultMap id="BaseResultMap" type="com.geng.puredb.model.UserProfile">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="heart" jdbcType="INTEGER" property="heart" />
    <result column="gold" property="gold" jdbcType="BIGINT"/>
    <result column="paidGold" property="paidGold" jdbcType="BIGINT"/>
    <result column="star" jdbcType="INTEGER" property="star" />
    <result column="heartTime" jdbcType="BIGINT" property="hearttime" />
    <result column="level" jdbcType="INTEGER" property="level" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, heart, gold, star, heartTime, level
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_profile
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_profile
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.geng.puredb.model.UserProfile">
    insert into user_profile (uid, heart, gold, 
      star, heartTime, level
      )
    values (#{uid,jdbcType=VARCHAR}, #{heart,jdbcType=INTEGER}, #{gold,jdbcType=INTEGER}, 
      #{star,jdbcType=INTEGER}, #{hearttime,jdbcType=BIGINT}, #{level,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.geng.puredb.model.UserProfile">
    insert into user_profile
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="heart != null">
        heart,
      </if>
      <if test="gold != null">
        gold,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="hearttime != null">
        heartTime,
      </if>
      <if test="level != null">
        level,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="heart != null">
        #{heart,jdbcType=INTEGER},
      </if>
      <if test="gold != null">
        #{gold,jdbcType=INTEGER},
      </if>
      <if test="star != null">
        #{star,jdbcType=INTEGER},
      </if>
      <if test="hearttime != null">
        #{hearttime,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.geng.puredb.model.UserProfile">
    update user_profile
    <set>
      <if test="heart != null">
        heart = #{heart,jdbcType=INTEGER},
      </if>
      <if test="gold != null">
        gold = #{gold,jdbcType=INTEGER},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="hearttime != null">
        heartTime = #{hearttime,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.geng.puredb.model.UserProfile">
    update user_profile
    set heart = #{heart,jdbcType=INTEGER},
      gold = #{gold,jdbcType=INTEGER},
      star = #{star,jdbcType=INTEGER},
      heartTime = #{hearttime,jdbcType=BIGINT},
      level = #{level,jdbcType=INTEGER}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>

  <select id="getMaxNameIndex" resultType="int">
    select  count(uid) from user_profile
  </select>

</mapper>